@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.6;
  background: white;
}

a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

// logo
#logo {
  width: 170px;
  height: 170px;
}

// main nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;

  ul {
    display: flex;
  }
  li {
    padding: 1rem 2rem;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}
#header {
  &-home {
    background-image: linear-gradient(
      to right top,
      #8e6bd1,
      #8978d8,
      #8484de,
      #828fe2,
      #829ae5,
      #78a7ee,
      #6fb3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    height: 100vh;
    color: #fff;

    // header content
    .header-content {
      text-align: center;
      padding-top: 5%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }

      p {
        font-size: 2rem;
        margin-top: 4rem;
      }
    }
  }
}

// recommend section
#recommend {
  padding-top: 2rem;
  background-image: linear-gradient(
    to right top,
    #6baed1,
    #6dadd6,
    #70addb,
    #75abdf,
    #7baae3,
    #93a6e7,
    #ada2e7,
    #c69ce1,
    #ee93ca,
    #ff90a7,
    #ff9881,
    #fba95f
  );

  .title {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
    color: white;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8rem;
    margin-right: 2rem;
  }
  .item {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  .item-img {
    // box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: 0.5s;

    &:hover {
      transform: scale(1.09);
      // box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      //   rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
  }
  .item-text {
    margin-top: 2rem;
    color: white;
  }
  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    margin-bottom: 2rem;
  }
}
// blog
#header {
  &-blog {
    height: 20vh;
    // background: $bg-image no-repeat center left / cover;
    background-image: linear-gradient(
      to right top,
      #8e6bd1,
      #8978d8,
      #8484de,
      #828fe2,
      #829ae5,
      #78a7ee,
      #6fb3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
  }
}

// blogging

#bloging {
  .box {
    height: 100%;
    background: rgba(255, 255, 255, 0.452);
  }

  .improve {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    font-family: "lora", serif;

    h1 {
      margin-top: 0.7rem;
      padding: 40px 0px;
      font-size: 3rem;
      text-align: center;
      color: #407bff;
    }
    p {
      font-size: 22px;
      color: #333333;
      text-align: center;
    }
  }
}
// habit
#habit {
  .box {
    height: 100%;
    background: rgba(255, 255, 255, 0.452);
    // padding: 40px 20px;
  }

  .start {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: "lora", serif;

    h1 {
      margin-top: 0.7rem;
      padding: 40px 0px;
      font-size: 3rem;
      text-align: center;
      color: #407bff;
    }
    p {
      font-size: 22px;
      color: #333333;
      text-align: center;
    }
  }
}

// books
#books {
  .read {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    height: 100%;
    background: rgba(255, 255, 255, 0.452);
    padding: 20px 0px;
    margin-bottom: 5rem;
  }

  //nonfictional
  .nonfictional {
    padding: 2rem 2rem;
    height: 100%;
    // margin: 20px 20px;
    margin: 20px 0px;
    background: white;
    border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.3);

    h1 {
      text-align: center;
      padding-bottom: 5px;
      margin-top: 10px;
      font-size: 2rem;
      color: #407bff;
    }
    p {
      text-align: center;
      padding-bottom: 0px;
      font-family: "lora", serif;
      font-size: 1.3rem;
    }

    li {
      margin-top: 5px;
      padding-top: 20px;
    }
    a {
      font-family: "Merriweather Sans", sans-serif;
      color: #333;
    }
  }
  // fictional
  .fictional {
    padding: 2rem 2rem;
    height: 100%;
    // margin: 20px 20px;
    margin: 20px 0px;
    background: white;
    border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.3);

    h1 {
      text-align: center;
      padding-bottom: 5px;
      margin-top: 10px;
      font-size: 2rem;
      color: #407bff;
    }
    p {
      text-align: center;
      padding-bottom: 5px;
      font-family: "lora", serif;
      font-size: 1.3rem;
    }

    li {
      margin-top: 5px;
      padding-top: 20px;
    }
    a {
      font-family: "Merriweather Sans", sans-serif;
      color: #333;
    }
  }
}

// books

// footer
#footer {
  color: white;

  .footer-content {
    text-align: center;
    margin-top: 50px;
  }

  .social {
    margin-top: 30px;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    padding: 10px 50px;
    margin: 50px 0px;
    border: transparent solid;
    border-radius: 50px;

    &:hover {
      box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.3);
    }
  }
}
